/* Header  */

.row {
	margin: 0;
}
.block {
	display: block;
}

.hero {
	height: 100vh;
	background-image: url("../img/mtns.jpg");
	background-size: cover;
}
.big-text {
	color: #f5f5f5;
	position: relative;
}

.flex {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-image: url("../img/fuji.jpg");
	background-size: cover;
}

.text {
	background-color: #000000ff;
	color: #f5f5f5;
	border-radius: 20px;

	padding: 10px 20px;
}
#highlight {
	color: #f78f25;
}

#reveal {
	margin: 10px auto;
	position: relative;
	/* top: 10px; */
	border: 2px solid #f5f5f5;
	color: #f5f5f5;
	text-decoration: none;
	padding: 10px;
	border-radius: 20px;
	transition: all 0.2s ease-in;
	background: #000000ee;
}

#reveal:hover {
	background-color: #c77661;
	border-color: #c77661;
	transition: all 0.2s ease-in;
}

.navbar,
.navbar-bg {
	background-color: #030406;
	margin: 0;
}

.navbar-bg {
	border-bottom: solid #f78f25 4px;
}

.navbar {
	margin-left: 20px;
	padding: 0 16px;
}

.nav-link {
	color: #f5f5f5;
	font-size: 1.2em;
	transition: all 0.2s ease-in;
}
.nav-link:hover {
	background-color: #f78f25;
	color: #041412;
	transition: all 0.2s ease-in;
}

.fixed {
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 20;
}

.active {
	background-color: #d9ca2b;
	color: #041412;
}

/* ---------------
About Section
--------------- */

.section-header {
	border-bottom: 4px solid black;
	width: 6em;
	text-align: center;
	padding-bottom: 10px;
	margin: auto;
}

.about-content {
	margin-top: 50px;
	text-align: center;
	margin-bottom: 40px;

	border-top: 2px solid black;
	border-bottom: 2px solid black;
	max-width: 83.333333%;
	background: #efefef;
}

#bio {
	margin-top: 25px;
}

.bio {
	margin-top: 25px;
}
#photo {
	width: 70%;
	max-width: 300px;
	border-radius: 40%;
	text-align: center;
	border: solid 4px #37694f;
}

h2 {
	text-align: center;
}

#about {
	padding-top: 70px;
	flex-direction: column;
	align-items: center;
}
.bio {
	height: 100%;
	padding-top: 10px;
	/* border: 2px solid black; */
	border-right: 0;
}
.right-col {
	padding: 0;
	/* border: 2px solid black; */
	border-left: 0;
}

#bio-text {
	margin: auto;
}

.chart {
	max-height: 400px;
}

.ct-chart {
	/* max-width: 500px; */
	max-height: 400px;
}

.ct-series-a .ct-bar {
	stroke: #0d2a77;
}

.ct-series-b .ct-bar {
	stroke: #91b8c9;
}

.ct-bar {
	stroke-width: 25px;
}

.ct-label {
	font-size: 1.5em;
}

#html {
	width: 90%;
	animation: html 2s;
}

#css {
	width: 70%;
	animation: css 2s;
}

#javascript {
	width: 60%;
	animation: javascript 2s;
}

#jquery {
	width: 60%;
	animation: jquery 2s;
}

#sql {
	width: 40%;
	animation: sql 2s;
}

@keyframes html {
	0% {
		width: 0%;
	}
	100% {
		width: 90%;
	}
}

@keyframes css {
	0% {
		width: 0%;
	}
	100% {
		width: 70%;
	}
}

@keyframes javascript {
	0% {
		width: 0%;
	}
	100% {
		width: 60%;
	}
}

@keyframes jquery {
	0% {
		width: 0%;
	}
	100% {
		width: 60%;
	}
}

@keyframes sql {
	0% {
		width: 0%;
	}
	100% {
		width: 40%;
	}
}

.bullet {
	margin: 10px 20px;
	/* display: flex; */
	text-align: center;
}

.icon {
	/* width: 33%; */
	/* height: 100px; */
	background-color: #63ba8d;
	border-radius: 50%;
	padding: 20px;
	font-size: 60px;
	color: white;
	width: 100px;
	text-align: center;
}

.icon-bg {
	background-color: #63ba8d;
	border-radius: 50%;
	text-align: center;
	color: white;

	width: 100px;
}

/* projects  */

#projects {
	padding-top: 40px;
	flex-direction: column;
	align-items: center;
}

#project-window {
	background: #efefef;
}

.project-row {
	margin-top: 20px;
}

.img-base {
	max-width: 100%;
	border: 2px solid black;
	border-radius: 10px;
}

.project-text {
	padding-top: 20px;
}
